body{
  background-color:#181515 ;
  color:white;
  background-size: cover;
  background-image: url(IMAGEBG.png);
  background-repeat: no-repeat;
}

header{
  height: 110px;
  margin-top: 10px;
  background-image: url(HEADER1.png);
  background-size: cover;


}



.home-button{
  background-color:transparent;
  margin-top: 50px;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color:rgb(253, 206, 110);
  margin-right: 4%;
  margin-left: 300px;
}

.home-button:hover{
  cursor: pointer;
  background-color: #A48A4F;
  color:rgb(235, 186, 73);
  opacity: 0.75;
}


.about-us{
  background-color:transparent;
  margin-top: 12px;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color:rgb(253, 206, 110);
  margin-right: 4%

}
.about-us:hover{
  cursor: pointer;
  background-color: #A48A4F;
  color:rgb(235, 186, 73);
  opacity: 0.75;
  
}

.logo{
  width: 200px;
  margin-left: 10px;
  margin-top: 0;
  opacity: 100%;
  cursor: pointer;
  position: absolute;
}

.services{
  background-color:transparent;
  margin-top: 12px;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color:rgb(253, 206, 110);
  margin-right: 4%;


}
.services:hover{
  cursor: pointer;
  background-color: transparent;
  color:rgb(235, 186, 73);
  opacity: 0.75;
  
}
.Contact{
  background-color:transparent;
  margin-top: 12px;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color:rgb(253, 206, 110);
  

}
.Contact:hover{
  cursor: pointer;
  background-color: #A48A4F;
  color:rgb(235, 186, 73);
  opacity: 0.75;
  
}

.contact-us{
  text-align: center;
  margin-top: 10%;
}
.P0{
  text-align: center;
}
.P1{
  text-align:center;
  background-color: rgb(253, 206, 110, 0.808);
  height: fit-content;
  width: 40%;
  margin: auto;
  padding: 10px;
  line-height: 40px;
}
