body{
  background-color:#181515 ;
  color:white;
  background-size: cover;
  background-image: url(IMAGEBG.png);
  
}



header{
  height: 200px;
  margin-top: 10px;
  background-image: url(HEADER1.png);
  background-size: cover;
  

}



.home-button{
  background-color: #A48A4F;
  height: 60px;
  width: 225px;
  border-color: #A48A4F;
  border-radius: 4px;
  border-style: solid;
  border-width: 5px;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 2%;
  font-weight: bold;
  color: rgb(253, 206, 110);
  margin-right: 5%;
}

.home-button:hover{
  cursor: pointer;
  background-color: #A48A4F;
  color:rgb(235, 186, 73);
  opacity: 0.75;
  
}


.about-us{
  background-color: #A48A4F;
  height: 60px;
  width: 225px;
  border-color: #A48A4F;
  border-radius: 4px;
  border-style: solid;
  border-width: 5px;
  font-size: 20px;
  font-weight: bold;
  color:rgb(253, 206, 110);
}
.about-us:hover{
  cursor: pointer;
  background-color: #A48A4F;
  color:rgb(235, 186, 73);
  opacity: 0.75;
  
}

.logo{
  width: 300px;
  margin-left: 40%;
  margin-right: 505;
  opacity: 100%;
  position: relative;
  cursor: pointer;
}

.services{

}

.contact{
  
}

